body
{background-color: #C5E4E4;}

/*
** Card
*/
.card
{
      display: grid;
      grid-template-columns: auto auto;
      width: 50%;
      height: 400px;
}

/*
** Input
*/
.inputSide
{
      background-color: bisque;
}

/*
** Select Tip
*/
.selectTip
{
      display: grid;
      grid-template-columns: auto auto auto;
}

.selectTip button
{
      width: 50%;
      height: 30px;
      cursor: pointer;
}


/*
** Output
*/
.outputSide
{
      background-color: #095458;
}

/*
** Signature
*/
.attribution 
{ 
      font-size: 11px; 
      text-align: center; 
}

.attribution a 
{ color: hsl(228, 45%, 44%); }