body
{background-color: #C5E4E4;}

/*
** Card
*/
.card
{
      display: grid;
      grid-template-columns: auto auto;
      width: 50%;
      height: 400px;
}

/*
** Input
*/
.inputSide
{
      background-color: bisque;
}

/*
** Bill
*/
.inputBill
{
      background-color: red;
      display: grid;
      width: 50%;
}

/*
** Select Tip
*/
.selectTip
{
      display: grid;
      grid-template-columns: auto auto auto;
      background-color: yellow;
}

.selectTip button
{
      width: 50%;
      height: 30px;
      cursor: pointer;
}

.inputPeople
{
      background-color: aqua;
      display: grid;
      position: relative;
      top: 200px;
}


/*
** Output
*/
.outputSide
{
      background-color: #095458;
}

.insideOutput
{
      text-align: center;
      background-color: beige;
      width: 90%;
      border-radius: 20px;
}

/*
** Signature
*/
.attribution 
{ 
      font-size: 11px; 
      text-align: center; 
}

.attribution a 
{ color: hsl(228, 45%, 44%); }